
#code {
	height: 300px;
	width: 788px;
	margin: 0px;
	padding: 6px;
	display: block;
	border-bottom: 1px solid white;
}

.codeTextarea {
	border: none;
	box-shadow: none;
	resize: none;
	overflow: auto;
	background-color: black;
	color: whitesmoke;

}

.codePanel {
	width: 800px;
	height: 400px;
	/*border: 1px solid black; */
	margin-bottom: 15px;
	/*background-color: black;
	color: whitesmoke;*/
}

.results {
	height: 25px;
	width: 788px;
	margin: 0px;
	padding: 6px;
	display: block;
}