
#code {
	height: 240px;
	width: 790px;
	margin: 0px;
	padding: 6px;
	display: block;
	border-bottom: 1px solid white;
}

#snippets {
	border-color: grey;
	border-top: none;
	float: left;
	display: block;
	outline: none;
	background-color: white;
	width: 100px;
	height: 25px;
}

.heading {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 1000px;
}

.evaluator {
	margin-right: auto;
	margin-left: auto;
	width: 1052px;
}

.codeTextarea {
	border: none;
	box-shadow: none;
	resize: none;
	overflow: auto;
	background-color: white;
	border: 1px solid grey;
	border-top: 0px;
	color: rgb(136, 136, 136);
}

.codePanel {
	width: 1050px;
	height: 430px;
	border: 1px solid grey;
}

.results {
	float: left;
	height: 150px;
	width: 970px;
	border: 1px solid grey;
	border-top: 0px;
}

.button {
	background: none;
	outline: none;
	border: 1px solid grey;
	height: 25px;
}

.button:active {
	box-shadow: inset 1px 1px 1px grey;
}

.exitbutton {
	float: left;
	border-top: 0px;
	border-left: 0px;
	width: 100px;
}

.runbutton {
	float: left;
	width: 80px;
	border-left: 0px;
	border-top: 0px;
	height: 151px;
}

