
#code {
	height: 240px;
	width: 790px;
	margin: 0px;
	padding: 6px;
	display: block;
	border-bottom: 1px solid white;
}

.codeTextarea {
	border: none;
	box-shadow: none;
	resize: none;
	overflow: auto;
	background-color: white;
	border: 1px solid grey;
	border-top: 0px;
	color: rgb(136, 136, 136);
}

.codePanel {
	width: 800px;
	height: 330px;
	border: 1px solid grey;
}

.results {
	float: left;
	height: 100px;
	width: 720px;
	border: 1px solid grey;
	border-top: 0px;
}

.runbutton {
	float: left;
	width: 80px;
	background: none;
	border: 1px solid grey;
	border-left: 0px;
	border-top: 0px;
	height: 101px;
	outline: none;
}

.runbutton:active {
	box-shadow: inset 1px 1px 1px grey;
}